<div class="masthead">
  <div container>
    <h2 class="masthead-title kilo">Nothing was changed save for that</h2>
    <p>
      Nothing was changed save for that and a terrible astonishment.
      The little group of black specks with the flag of white had been swept out
      of existence, and the stillness of the evening, so it seemed to me,
      had scarcely been broken.
    </p>
    <button class="button--lg button--bordered">Read More</button>
  </div>
</div>

<main container class="site-content">
  <div row>
    <div column="6">
      <h3>Latest Stories</h3>
      <p>This is a short description for one of the three columns on our homepage.</p>
      <a class="button button--sm">Learn More »</a>
    </div>

    <div column="6">
      <h3>Statistics</h3>
      <p>This is a short description for one of the three columns on our homepage.</p>
      <a class="button button--sm">Learn More »</a>
    </div>
  </div>
</main>
