<div class="site-content">
  <div id="container-map"></div>
  <div class="masthead">
    <div class="container">
      <h4 class="masthead-title kilo">Nothing was changed save for that</h4>
      <a class="large button float-right" href="#">Laporkan !</a>
    </div>
  </div>
  <div class="container headline">
    <div class="row">
      <div class="columns medium-6 small-12">
        <h3>Latest Stories</h3>
        <ul class="latest-story">
          <li><a href="#">This is a short description for one of the three columns on our homepage.</a></li>
          <li><a href="#">This error happens the second time Highcharts or Highstock is loaded in the same page</a></li>
          <li><a href="#">StockChart in combination, you only need</a></li>
          <li><a href="#">load the highstock.js</a></li>
          <li><a href="#">Highcharts or Highstock is loaded in the same page, so the Highcharts namespace is already defined. Keep in mind that the Highcharts.</a></li>
        </ul>
      </div>
      <div class="columns medium-6 small-12 border-left-double">
        <h3>Statistics</h3>
        <div id="container-chart" style="width:100%; height:400px;"></div>
        </br>
        <a class="button medium small-3 float-center">Learn More »</a>
      </div>
    </div>
  </div>
</div>
