<div class="site-content">
  <div id="container-map"></div>
  <div class="masthead">
    <div class="container">
      <h4 class="masthead-title kilo"><b>Jadilah bagian dari perubahan !</b></h4>
      <a class="large button float-right" href="#">Laporkan !</a>
    </div>
  </div>
  <div class="process">
    <div class="row">
      <div class="columns medium-4 small-12">
        <img class="thumbnail" src="<%= asset_path "img-dummy.jpeg" %>" alt="Photo of Uranus.">
        <div class="process-title"><h4>Pertama</h4><span class="stripe"></span></div>
        <div class="process-desc"><p>asdsad asdasd aasd asda asd ads asdas  asdasdasdasd asdasd  asdadss asdsad asdasd aasd asda asd ads asdas  asdasdasdasd asdasd  asdadss</p></div>
      </div>
      <div class="columns medium-4 small-12">
        <img class="thumbnail" src="<%= asset_path "img-dummy.jpeg" %>" alt="Photo of Uranus.">
        <div class="process-title"><h4>Pertama</h4><span class="stripe"></span></div>
        <div class="process-desc"><p>asdsad asdasd aasd asda asd ads asdas  asdasdasdasd asdasd  asdadss asdsad asdasd aasd asda asd ads asdas  asdasdasdasd asdasd  asdadss</p></div>
      </div>
      <div class="columns medium-4 small-12">
        <img class="thumbnail" src="<%= asset_path "img-dummy.jpeg" %>" alt="Photo of Uranus.">
        <div class="process-title"><h4>Pertama</h4><span class="stripe"></span></div>
        <div class="process-desc"><p>asdsad asdasd aasd asda asd ads asdas  asdasdasdasd asdasd  asdadss asdsad asdasd aasd asda asd ads asdas  asdasdasdasd asdasd  asdadss</p></div>
      </div>
    </div>
  </div>
  <div class="container headline">
    <div class="row">
      <div class="columns medium-6 small-12">
        <h3>Latest Stories</h3>
        <span class="stripe"></span>
        <!-- start repeating -->
        <div class="row">
          <div class="columns small-6 text-center">
            <h5>asdasdasd asda</h5>
            <p class="subheader">asd asdhgajsdg asdads</p>
          </div>
          <div class="columns small-6 border-left text-center">
            <h4>Rp. 123412</h4>
            <p class="subheader">aksdg askdasd</p>
          </div>
        </div>
        <div class="row">
          <div class="columns small-6 text-center">
            <h5>asdasdasd asda</h5>
            <p class="subheader">asd asdhgajsdg asdads</p>
          </div>
          <div class="columns small-6 border-left text-center">
            <h4>Rp. 123412</h4>
            <p class="subheader">aksdg askdasd</p>
          </div>
        </div>
        <div class="row">
          <div class="columns small-6 text-center">
            <h5>asdasdasd asda</h5>
            <p class="subheader">asd asdhgajsdg asdads</p>
          </div>
          <div class="columns small-6 border-left text-center">
            <h4>Rp. 123412</h4>
            <p class="subheader">aksdg askdasd</p>
          </div>
        </div>
        <!-- end repeating -->
      </div>
      <div class="columns medium-6 small-12">
        <h3>Statistics</h3>
        <span class="stripe"></span>
        <div id="container-chart" style="width:100%; height:400px;"></div>
        </br>
        <a class="button medium small-3 float-center">Learn More »</a>
      </div>
    </div>
  </div>
</div>
