<div row>
  <div column="4 +4">
    <h3>Login to Stop Suap</h3>
    <form>
      <div class="form-field">
        <input type="text" placeholder="Username">
      </div>
      <div class="form-field">
        <input type="password" placeholder="Password">
      </div>
      <div class="form-field">
        <input type="checkbox">
        <label>Remember me · <a href="#">Forgot password?</a></label>
      </div>
      <button type="submit" class="button--xsm button--pill button">Login</button>
    </form>
    <hr>
    <p>New to Stop Suap? <a href="#">Sign up here!</a></p>
  </div>
</div>
