<div class="row">
  <div class="columns medium-4 medium-offset-4">
    <div class="login">
      <h3>Lupa Password</h3>
      <%= form_tag password_resets_path  do |f| %>
        <div class="form-field">
          <%= text_field_tag :email, nil,  placeholder: 'Email anda...' %>
        </div>
        <%= submit_tag 'Kirim!', class: 'button-form large float-center' %>
      <% end %>
    </div>
  </div>
</div>
