<div class="comment">
  <p class="comment-label">
    <%= comment.body %>
  </p>
  <small>Commented by <%= comment.user.email %> on <%= comment.created_at.strftime('%e %B, %Y') %></small>
</div>
<hr>
