<div class="comment">
  <p class="comment-label">
    <%= comment.body %>
  </p>
  <small>Oleh <%= comment.user.email %> <span style = "color: #B80f0f;"> <%= time_ago_in_words(comment.created_at) %> </span>yang lalu</small>
</div>
<hr>
