<div row>
  <div column="4 +4">
    <h3>Join Stop Suap today!</h3>
    <%= render 'form' %>
    <small>
      By signing up, you agree to the Terms of Service and Privacy Policy,
      including Cookie Use.
    </small>
  </div>
</div>
