<% provide(:title, 'Bagikan Ceritamu') %>
<div class="border-bottom-double content-header">
  <h3> Bagikan Ceritamu </h3>
  <div class="subheader"> laporkan kasus suap </div>
</div>
<div class="container">
  <div class="row">
    <div class="columns medium-10 medium-offset-1 create-story">
      <%= render 'form' %>
    </div>
  </div>
</div>
