// Import font
@import url(https://fonts.googleapis.com/css?family=Merriweather);
$font-stack: Merriweather;
/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
   @if $point == xlarge {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == large {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == medium {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == small {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == xsmall {
     @media (max-width: 37.5em)  { @content ; }

  }
}
// Global style
body{
  font-family: 100% $font-stack !important;
}
h1, h2, h3, h4, h5, h6{
  font-family: $font-stack;
}
a {
  font-family: $font-stack;
  color: #525252;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;

  &:hover, :focus {
    color: #000;
    outline: none;
  }
}

.container {
  margin: 2rem;
  @include breakpoint(xsmall){
    margin: 1rem;
  }
}

.border-right-double {
  border-right: 4px double #000;
}

.border-left-double {
  border-left: 4px double #000;
}

.border-bottom-double {
  border-bottom: 4px double #000;
}

.border-top-double {
  border-top: 4px double #000;
}

.border-right {
  border-right: 1px solid #000;
}

.border-left {
  border-left: 1px solid #000;
}
.border-left-grey {
  border-left: 1px solid #8E8E8E;
}

// Site Header

.top-bar {
  background: #302f2f;
  height: 6rem;
  position: static;
  padding: 0;
  @include breakpoint(xsmall){
    height: 3rem;
    padding: 0;
  }
  a {
    color: #fff;
  }
  .top-bar-right {
    height: 100%;
    padding: 2.5rem;
    @include breakpoint(xsmall) {
      display: inline-block;
      float: right;
      margin: .5rem;
    }
    a{
      color: #686868;
      padding: 0 1rem!important;
      &:hover{
        color: #fff;
      }
    }
    ul.menu {
      @include breakpoint(xsmall) {
        display: none;
      }
    }
    .off-canvas-toggle{
      @include breakpoint(xsmall) {
        display: inline-block;
      }
    }
  }
  .top-bar-left {
    height: 100%;
    width: 20%;
    padding: 1.5rem;
    background: #B80f0f;
    @include breakpoint(xsmall) {
      display: inline-block;
      float: left;
      padding: 0;
      text-align: center;
      width: 40%;
    }
  }
  .menu-text {
    padding: 0;
    margin-left: 2rem;
    @include breakpoint(xsmall){
      margin-left: 0;
      height: 100%;
      padding: .6rem;
    }
    a {
      transform: none;
    }
  }

  ul {
    background: transparent;
  }
}

.logo {
    font-size: 22px;
    margin-bottom: 0;
}
button.off-canvas-toggle{
  background:url('toggle.svg') center no-repeat;
  background-size: contain;
  color: transparent;
  width: 2rem;
  height: 2rem;
  display: none;
}
.off-menu{
  background: #000;
  margin: 0;
  padding: 5px 0 0 5px; 
  height: 100%; 
  width: 100%;
  position:fixed;
  left:0;
  top:0;
  a{
    color: #fff;
    &:focus, &:active{
      color: #fff;
    }
  }
  li{
    display: block;
    padding: 1rem 2rem;
    text-align: center;
  }
}
.nav {
  text-align: right;

  li {
    display: inline;
    line-height: 4;
    margin-left: 25px;

    &:first-of-type {
        margin-left: 0;
    }
  }
}

// End Site Header

// Masthead

.masthead {
  background-color: #B80f0f;
  padding: 1rem;
  height: 8rem;
  color: #fff;
  .button{
    font-size: 2rem;
    margin: -0.5rem;
  }
  @include breakpoint(xsmall){
    position: absolute;
    top: calc( 100vh - 11rem );
    padding: 0;
    text-align: center;
    h4{
      font-size: 1rem;
    }
    a.button.large{
      float: none!important;
      font-size: 1rem;
      padding: .5rem;
    }
  }
}

@media (min-width: 48em) {
  .masthead {
      padding: 1rem;
  }
}

.masthead-title {
  margin-top: 0;
  display: inline-block;
}

#container-map {
  height: calc( 100vh - 14rem);
  @include breakpoint(xsmall){
    display: none;
  }
}

#canvas-holder {
  text-align: center;
}

// End Masthead

// Site Content
.process{
  text-align: center;
  margin: 10rem 5rem;
  .columns{
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .process-title{
    color: #B80f0f;
  }
  img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #B80f0f;
  }
}
span.stripe{
  height: 3px;
  width: 15px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background: #B80f0f;
}
.site-content {}

.content_container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.comments {
  margin-top: 40px;
}

.create-story {
  h3 {
    margin: 2rem 0;
    text-align: center;
    padding: 1rem 0;
  }
}
.story {
  margin: 3rem 0;
}

.story-detail {
  h3, small {
      text-align: center;
      display: block;
  }

  small {
      margin-bottom: 3rem;
  }

  .columns {
      padding-right: 4rem;
  }
}

.index-control {
  width: 60%;
  margin: 3rem auto;

  input {}

  li {
      margin-left: 3rem;
  }
}

.index-report {
  width: 80%;
  margin: 0 auto;
}
.share-action{
  text-align: left;
  .share{
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-size: contain;
    margin-right: 1rem;
  }
  .s-fb {
    background: url('S-FB.svg') center no-repeat;
  }
  .s-twt {
    background: url('S-TWEET.svg') center no-repeat;
  }
}
// End Site Content

// Form

.form-field {
  margin-top: 0px;
  margin-bottom: 15px;
}

.login {
  margin: 4rem 0;

  h3 {
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 4px double #000;
  }
}

.wizard > .actions {
  text-align: center;
}

.wizard > .actions a {
  background: #000;
  border-radius: 0;
  &:hover {
    background: #000;
    border-radius: 0;
  }
  &:active {
    background: #000;
    border-radius: 0;
  }
}

// End Form

// Site Footer

.site-footer {
  font-size: .875em;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #302f2f;
  color: #fff;
  height: 4.5rem;

  a:hover {
    color: #fff;
  }

  p {
    margin-bottom: 0;
    line-height: 4;
  }

  ul.right {
    float: right;
    margin-bottom: 0;
    line-height: 4;

    li {
      display: inline;
      margin-left: 20px;

      &:first-of-type {
          margin-left: 0;
      }

      &:last-of-type {
          margin-right: 10px;
      }
    }
  }
}

// End Site Footer


// coba-coba

.social-share-button-twitter{
    width: 26px;
    height: 23px;
    background: url('S-TWEET.svg') center no-repeat
}
.social-share-button-facebook{
    width: 26px;
    height: 23px;
    background: url('S-FB.svg') center no-repeat
}
