<% flash.each do |key, message| %>
  <div container class="alert-flash">
    <div data-alert class="alert-box <%= key %>">
      <p><%= message.html_safe %></p>
      <a class="close" href="#">&times;</a>
    </div>
  </div>
<% end %>
