<% flash.each do |key, message| %>
  <div container class="alert-flash">
    <div class="alert alert--<%= key %>">
      <a class="alert-close" href="#">&times;</a>
      <p><%= message.html_safe %></p>
    </div>
  </div>
<% end %>
