<header container class="site-header">
  <div row>
    <h1 column="4" class="logo">Stop Suap</h1>
    <nav column="8" class="nav">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><a href="#">About</a></li>
        <% if current_user  %>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
